header {
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 1px 10px 0px var(--color-dark-grey);

    & figure {
        margin-left: 100px;
        /* logo height which also will define the header hight */
        height: 4rem;
        width: 200px;

        & img {
            height: 100%;
            width: 100%;
        }
        &:hover{
            box-shadow: 0px -1px 10px 0px var(--color-dark-grey);
        }
    }

    & nav ul {
        list-style: none;

        & li {
            display: inline-block;
        }
    }

    & a {
        text-decoration: none;
        padding: 5px 15px;
        font-size: 1.5em;
        color:var(--color-link);

        &:hover{
            background-color: var(--color-link-hover-bg);
            border-radius: 30px;
        }
    }
}